* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    font-size: 1.5rem;
}

html, body, .hm_body_box {
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    color: #fff !important;
}

.end_header_box {
    width: 100%;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end_header_box h1 {
    font-size: 3rem;
}

.end_body_box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.end_body_box a {
    padding: 3rem;
    background-color: #fff;
    text-decoration: none;
}

.end_footer_box {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end_footer_box p {
    font-size: 1rem;
}