* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: radial-gradient(
            91.48% 91.48% at 50% 50%,
            rgba(0, 0, 0, 0) 0%,
            #000000 100%
    ),
    #6C6C6CFF;
    color: #fff;
}

@media screen and (min-width: 468px) {
    body {
        background: radial-gradient(
                91.48% 91.48% at 50% 50%,
                rgba(0, 0, 0, 0) 0%,
                #000000 100%
        ),
        #6C6C6CFF;
    }
}

label:hover,
input:hover,
button:hover {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
    14 0,
    pointer;
}

.body_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.header_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 30%);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 50%) !important;
    z-index: 100 !important;
}

.display_lives {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
}

.display_lives img {
    width: 20%;
    height: auto;
}

.display_world {
    width: 100%;
    height: 30%;
    text-align: center;
    background: transparent;
    font-size: 1.3rem;
}

@media screen and (min-width: 468px) {
    .display_lives {
        width: 40%;
    }
    .display_lives img{
        width: 15%;
    }

    .header_box {
        height: 15vh;
    }
}

@media screen and (min-width: 768px) {

    .display_lives img {
        width: 10%;
    }


}

@media screen and (min-width: 1024px) {
    .display_lives img {
        width: 8%;
    }
}

.display_lives img.active {
    animation: blink 1s linear infinite;
}

/* End Header */

/* Body */
.body_box {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body_bottom_box {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.body_left_box {
    display: none;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: .75rem;
}

.body_left_box h3 {
    width: 80%;
}

.letter_suggested {
    width: 60%;
    wrap-option: wrap;
    margin-top: 5vh;
    color: white;
}

.body_right_box {
    display: none;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 468px) {
    .body_box {
        height: 70vh;
    }

    .body_bottom_box {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }
}

@media screen and (min-width: 768px) {

    .body_left_box {
        display: flex;
    }

    .body_right_box {
        display: flex;
    }

    .body_bottom_box {
        width: 60%;
    }

    .body_left_box {
        font-size: .75rem;
    }
}

@media screen and (min-width: 1024px) {
    .body_left_box {
        font-size: 1rem;
    }
}

.hangman_steps {
    height: 100%;
    width: auto;
}
/**/

/* End Body */

/* Footer */
.footer_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 30%);
    box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 50%) !important;
}

@media screen and (min-width: 468px) {
    .footer_box {
        height: 15vh;
    }
}



#input-form {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ness_input {
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    border-image-outset: 2;
    color: #fff;
    background-color: #212529;
}

.hm_input {
    width: 70%;
    height: 40%;
    margin-right: 5%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.ness_button {
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    border-image-outset: 2;
    /*padding: 6px 8px;*/
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #212529;
    box-shadow: inset -4px -4px #adafbc;
}

.hm_submit_button {
    width: 20%;
    height: 40%;
    padding: .5rem 1.25rem;
    display: flex;
    align-items: center;
}

.hm_submit_button:hover {
    padding: .5rem 1.25rem;
    box-shadow: inset -4px -4px #adafbc;
    transition: all 0.5s;
}

.hm_submit_button:active {
    padding: calc(.5rem + 4px) calc(1.25rem - 4px) calc(.5rem - 4px) calc(1.25rem + 4px);
    box-shadow: inset 4px 4px #adafbc;
    transition: all 0.5s;
}

@media screen and (min-width: 468px) {
    #input-form {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    #input-form {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #input-form {
        width: 30%;
    }
}

/* Loose Page */
.ls_body_box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.ls_body_mid_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
}

.ls_body_right_box, .ls_body_left_box {
    -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.ls_body_right_box, .ls_body_left_box {
    width: 20%;
    height: 100%;
    display: none;
}

.ls_background {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    z-index: -1;
}

@media screen and (min-width: 468px) {
    .ls_background {
        background-size: 60% !important;
    }
}

@media screen and (min-width: 768px) {
    .ls_body_right_box, .ls_body_left_box {
        display: flex;
    }
    .ls_body_mid_box {
        width: 60%;
    }
}

/* Header Box */
.ls_header_box {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Header Box */
/* Body Box */
.ls_mid_box {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ls_header_box h1 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 10px #CECECE;
}

.ls_mid_box h2, .ls_mid_box p {
    text-align: center;
    font-size: 1rem;
    text-shadow: 2px 2px 10px #CECECE;
}

.ls_mid_box img {
    width: 192px;
    height: 192px;
}

.ls_mid_box div {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width: 480px) {
    .ls_header_box h1 {
        text-align: center;
        font-size: 2.5rem;
    }

}

@media screen and (min-width: 702px) {
    .ls_header_box h1 {
        text-align: center;
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .ls_header_box h1 {
        text-align: center;
        font-size: 4rem;
    }
}
/* End body Box /

/* Footer Box */
.ls_footer_box {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hm_replay_link {
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>') !important;
}

.hm_replay_link::after {
    content: ">";
    font-family: "Font Awesome 5 Pro", sans-serif;
    font-weight: 1000;
    position: relative;
    opacity: 0;
}

.hm_replay_link:hover::after {
    opacity: 1;
    transition: all 0.5s;
    padding-left: 1rem;
}

.hm_replay_link:hover {
    padding: 1rem 1.5rem;
    box-shadow: inset -4px -4px #adafbc;
    transition: all 0.5s;
}

.hm_replay_link:active {
    padding: calc(1rem + 4px) calc(1.5rem - 4px) calc(1rem - 4px)
    calc(1.5rem + 4px);
    box-shadow: inset 4px 4px #adafbc;
    transition: all 0.5s;
}
/* End Footer Box */
/* End Loose Page */

/* Win Page */
/* Body Box */
.ls_mid_box.two {
    justify-content: space-evenly; !important;
}

.ls_scoreboard{
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 10px #CECECE;
}

@media screen and (min-width: 768px){
    .ls_scoreboard {
        font-size: 1rem;
    }
}
/* End Body Box */
/* End Win Page */