* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    background: radial-gradient(
            91.48% 91.48% at 50% 50%,
            rgba(0, 0, 0, 0) 0%,
            #000000 100%
    );
}


@media screen and (min-width: 468px) {
    body {
        background: radial-gradient(
                91.48% 91.48% at 50% 50%,
                rgba(0, 0, 0, 0) 0%,
                #000000 100%
        );
    }
}

label:hover,
input:hover,
button:hover {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
    14 0,
    pointer;
}

.body_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.header_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 30%);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 50%) !important;
    z-index: 100 !important;
}

.display_lives {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
}

.display_lives img {
    width: 20%;
    height: auto;
}

.display_world {
    width: 100%;
    height: 30%;
    text-align: center;
    background: transparent;
    font-size: 1.3rem;
}

@media screen and (min-width: 468px) {
    .display_lives {
        width: 40%;
    }
    .display_lives img{
        width: 15%;
    }

    .header_box {
        height: 15vh;
    }
}

@media screen and (min-width: 768px) {

    .display_lives img {
        width: 10%;
    }


}

@media screen and (min-width: 1024px) {
    .display_lives img {
        width: 8%;
    }
}

.display_lives img.active {
    animation: blink 1s linear infinite;
}

/* End Header */

/* Body */
.body_box {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body_bottom_box {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.body_left_box {
    display: none;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: .75rem;
}

.body_left_box h3 {
    width: 80%;
}

.letter_suggested {
    width: 60%;
    wrap-option: wrap;
    margin-top: 5vh;
}

.body_right_box {
    display: none;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 468px) {
    .body_box {
        height: 70vh;
    }

    .body_bottom_box {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }
}

@media screen and (min-width: 768px) {

    .body_left_box {
        display: flex;
    }

    .body_right_box {
        display: flex;
    }

    .body_bottom_box {
        width: 60%;
    }

    .body_left_box {
        font-size: .75rem;
    }
}

@media screen and (min-width: 1024px) {
    .body_left_box {
        font-size: 1rem;
    }
}

.hangman_steps {
    height: 100%;
    width: auto;
}
/**/

/* End Body */

/* Footer */
.footer_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 30%);
    box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 50%) !important;
}

@media screen and (min-width: 468px) {
    .footer_box {
        height: 15vh;
    }
}



#input-form {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ness_input {
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    border-image-outset: 2;
    color: #fff;
    background-color: #212529;
}

.hm_input {
    width: 70%;
    height: 40%;
    margin-right: 5%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.ness_button {
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    border-image-outset: 2;
    /*padding: 6px 8px;*/
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #212529;
    box-shadow: inset -4px -4px #adafbc;
}

.hm_submit_button {
    width: 20%;
    height: 40%;
    padding: .5rem 1.25rem;
    display: flex;
    align-items: center;
}

.hm_submit_button:hover {
    padding: .5rem 1.25rem;
    box-shadow: inset -4px -4px #adafbc;
    transition: all 0.5s;
}

.hm_submit_button:active {
    padding: calc(.5rem + 4px) calc(1.25rem - 4px) calc(.5rem - 4px) calc(1.25rem + 4px);
    box-shadow: inset 4px 4px #adafbc;
    transition: all 0.5s;
}

@media screen and (min-width: 468px) {
    #input-form {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    #input-form {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #input-form {
        width: 30%;
    }
}

/* Loose Page */
label:hover,
input:hover,
a:hover {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
    14 0,
    pointer;
}

.loose_body {
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header Box */

.ls_header_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ls_header_box h1 {
    text-align: center;
    font-size: 2rem;
}

/* End Header Box */

/* Body Box */

.ls_body_box img {
    width: 80%;
    height: auto;
}

.ls_body_box h2{
    font-size: 1rem ;
}

@media screen and (min-width: 480px) {
    .ls_header_box h1 {
        font-size: 4rem;
    }
    .ls_body_box img {
        width: 50%;
    }
}
@media screen and (min-width: 702px) {
    .ls_body_box img {
        width: 30%;
    }

}

.ls_body_box {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* End body Box /

/* Footer Box */
.ls_footer_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hm_replay_link {
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    border-image-slice: 2;
    border-image-repeat: stretch;

    background-color: #fff;
    color: #212529;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: flex;

    align-items: center;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    box-shadow: inset -4px -4px #adafbc;
}

.hm_replay_link::after {
    content: ">";
    font-family: "Font Awesome 5 Pro", sans-serif;
    font-weight: 1000;
    position: relative;
    opacity: 0;
}

.hm_replay_link:hover::after {
    opacity: 1;
    transition: all 0.5s;
    padding-left: 1rem;
}

.hm_replay_link:hover {
    padding: 1rem 1.5rem;
    box-shadow: inset -4px -4px #adafbc;
    transition: all 0.5s;
}

.hm_replay_link:active {
    padding: calc(1rem + 4px) calc(1.5rem - 4px) calc(1rem - 4px)
    calc(1.5rem + 4px);
    box-shadow: inset 4px 4px #adafbc;
    transition: all 0.5s;
}
/* Win Page */

/* Header Box */

.hm_header_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hm_header_box h1 {
    font-size: 5rem;

}

/* End Header Box */

/* Body Box */
.end_body_box {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end_scoreboard {

}
/* End Body Box */

/* Footer Box */
.end_footer_box {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Footer Box */


/* .ls_footer_box a {
    text-align: center;
    font-size: 1rem;
} */
/* End Footer Box /

/ End Loose Page */

/*.h_submit_button {*/
/*    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');*/
/*    border-image-slice: 2;*/
/*    border-image-repeat: stretch;*/

/*    background-color: #fff;*/
/*    color: #212529;*/
/*    padding: 1rem 1.5rem;*/
/*    display: flex;*/

/*    align-items: center;*/
/*    margin: 4px;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    box-shadow: inset -4px -4px #adafbc;*/
/*}*/

/*.h_submit_button::after {*/
/*    content: ">";*/
/*    font-family: "Font Awesome 5 Pro", sans-serif;*/
/*    font-weight: 1000;*/
/*    position: relative;*/
/*    opacity: 0;*/
/*}*/

/*.h_submit_button:hover::after {*/
/*    opacity: 1;*/
/*    transition: all 0.5s;*/
/*    padding-left: 1rem;*/
/*}*/

/*.h_submit_button:hover {*/
/*    padding: 1rem 1.5rem;*/
/*    box-shadow: inset -4px -4px #adafbc;*/
/*    transition: all 0.5s;*/
/*}*/

/*.h_submit_button:active {*/
/*    padding: calc(1rem + 4px) calc(1.5rem - 4px) calc(1rem - 4px)*/
/*    calc(1.5rem + 4px);*/
/*    box-shadow: inset 4px 4px #adafbc;*/
/*    transition: all 0.5s;*/
/*}*/
/*!* End of Mid box *!*/
/*!* Mobile Box *!*/
/*@media screen and (max-width: 468px) {*/
/*    .header_box {*/
/*        height: 30%;*/
/*    }*/

/*    .body_box {*/
/*        height: 40%;*/
/*    }*/

/*    .mobile_scoreboard {*/
/*        display: flex;*/
/*        height: 30%;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        animation: blink 1s;*/
/*        font-size: 0.75rem;*/
/*    }*/
/*}*/
/*!* End of Mobile Box *!*/
/*!* Left Box*!*/
/*.body_left_box {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*@keyframes scoreboard_animation {*/
/*    0% {*/
/*        font-size: 0;*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        font-size: 0.75rem;*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 768px) {*/
/*    @keyframes scoreboard_animation {*/
/*        0% {*/
/*            font-size: 0;*/
/*            opacity: 0;*/
/*        }*/
/*        100% {*/
/*            font-size: 1rem;*/
/*            opacity: 1;*/
/*        }*/
/*    }*/
/*}*/

/*.scoreboard {*/
/*    height: 60%;*/
/*    width: 80%;*/
/*    display: none;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    font-size: 1rem;*/
/*    animation: 2s scoreboard_animation, 2s blink 1s;*/
/*}*/

/*@media screen and (min-width: 468px) {*/
/*    .mobile_scoreboard {*/
/*        display: none;*/
/*    }*/

/*    .scoreboard {*/
/*        display: flex;*/
/*        font-size: 0.75rem;*/
/*    }*/
/*}*/
/*!* End of Left Box *!*/
