* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    font-size: 1.5rem;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    color: #fff;
}

.home_div{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_form{
    width: 50vw;
    height: 50vh;
}

.h_difficulty_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

input[type="radio"].difficulty {
    display: none;
}

input[type="radio"].difficulty + label {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    background: #101010;
    transition: 0.5s;
}

input[type="radio"]#difficulty-easy + label {
    background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
    -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
    box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
}

input[type="radio"]#difficulty-medium + label {
    background: linear-gradient(to right, #006fff, #00acff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
    -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
}

input[type="radio"]#difficulty-hard + label {
    background: linear-gradient(to right, #ff1027, #ff4f06 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
}

input[type="radio"]#difficulty-easy:hover + label, input[type="radio"]#difficulty-easy:checked + label {
    padding: 0.5rem 0.7rem;
    background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
    -webkit-background-clip: padding;
    -webkit-text-fill-color: #222;
    -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
    -moz-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
    box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
}

input[type="radio"]#difficulty-medium:hover + label, input[type="radio"]#difficulty-medium:checked + label {
    padding: 0.5rem 0.7rem;
    background: linear-gradient(to right, #006fff, #00acff 70%);
    -webkit-background-clip: padding;
    -webkit-text-fill-color: #222;
    -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
}

input[type="radio"]#difficulty-hard:hover + label, input[type="radio"]#difficulty-hard:checked + label  {
    padding: 0.5rem 0.7rem;
    background: linear-gradient(to right, #ff1027, #ff4f06 70%);
    -webkit-background-clip: padding;
    -webkit-text-fill-color: #222;
    -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
    -moz-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
    box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
}


.h_submit_button {
    padding: 0.3rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    background: #222;
    color: #FFF;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.h_submit_button:hover {
    background-color: #FFF;
    color: #222;
}

/*.home_div a {
/*    color: #484848;*/
/*    font-size: 1.5em;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    transition: 0.5s ease;*/
/*}*/

/*.home_div a:hover {*/
/*    color: #fff;*/
/*    font-size: 2em;*/
/*    letter-spacing: 0.1em;*/
/*    text-shadow: 0 0 10px #fff,*/
/*    0 0 20px #fff,*/
/*    0 0 40px #fff;*/
/*}