<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/endgame.css">
    <title>Hangman-Web</title>
</head>
<body>
<div class="end_container">
    <div class="end_header_box">
        <h1 id="hm_word_text">{{ .WinLose }}</h1>
    </div>
    <div class="end_body_box">
        <a href="/">Replay</a>
    </div>
    <div class="end_footer_box">
        <p>By Nayan Mallet & Pablo Jean Louis</p>
    </div>
</div>
</body>
</html>