<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hangman-Web</title>
</head>
<body>
    <div class="hm_body_box">
        <div class="hm_header_box">
            <h1>Hangman</h1>
        </div>
       <div class="hm_game_box">
           <p class="hm_word">
               {{ .Letter }}
           </p>
           <p class="hm_lives">
               {{ .Lives }}
           </p>
           <div class="hm_hangman_box" >
               // Hangman image
           </div>
           <div class="hm_input_box">
               <form
                   method="POST"
                   action="/hangman"
               >
                   <input name="letter" type="text" placeholder="Enter a Letter/Word" id="letter_input" required>
                   <input type="submit" value="Submit">
               </form>
           </div>
       </div>
    </div>
</body>
</html>